/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*************Global Styles**************/

html {
  font-size: 16px;
}

.content-wrapper{
  width:90%;
  margin: 20px;
}

body{
  font-family: "Century Gothic Std", sans-serif;
  text-transform: uppercase;
  color: #585858;

}

h1{
  font-size: 1.25em;
  margin: 0;
}

h2{
  font-size: 1.125em;
  margin: 10px auto 0 auto;
}

nav li{
  font-size: 1em;
  margin: 0;
}

p, .skills ul li{
  font-size: 1em;
  line-height: 1.5em;
}

ul{
  margin: 0;
  list-style-type:none;
}

a{
  text-decoration: none;
  color: #585858;
}

a:hover{
  color: lightgrey;
}

.white-txt{
  color: white;
}

/****************Mobile Styles: HEADER AND FOOTER*************************/
header,
footer {
  display: flex;
  justify-content: center;
}
/****************Mobile Styles: Header*************************/

header div{
  text-align: center;
}

header h1{
  padding-bottom: 10px;
}

header nav ul{
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto 0 auto;
}

header nav ul li{
  list-style-type: none;
}
/****************Mobile Styles: Footer*************************/


footer .content-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

footer .connect{
  display: flex;
}

footer .copyright{
  font-size: 10px;
  margin: 0;
  width: 100%;
  text-align: center;
}
footer .copyright p{
  margin: 0;
}

footer .icon{
  padding: 0 5px;
}

/****************Mobile Styles: HERO SECTION*************************/

.hero{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url('../img/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

.hero h1{
  padding-top: 40px;
}


/****************Mobile Styles: ABOUT SECTION*************************/
#about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#about .about-content h1, #about .skills h1{
  text-align: center;
  padding-bottom: 20px;
}

#about .about-content p{
  padding-bottom: 20px;
  margin: 0;
}

#about .skills ul{
  text-align: center;
  padding: 0 0 20px 0;
}

#about .call-to-action{
  padding-bottom: 0;
  text-align: center;
}

/****************Mobile Styles: CONTACT SECTION*************************/

#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #585858;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-content h1{
  text-align:center;
  padding-bottom: 20px;
}
.contact-content address{
  font-style: normal;
  margin-top: 10px;
}

.contact-content p{
  margin: 0;
}

/****************Mobile Styles: PORTFOLIO PAGE*************************/

.portfolio-intro {
  display: flex;
  justify-content: center;
  background: url('../img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #585858;
  padding: 20px 0;
}

.portfolio-content h1, .port-link{
  text-align: center;
}

.portfolio-content .port-link{
  width: 100%;
}
.portfolio-content h2{
  text-align: center;
}

.portfolio-content p{
  margin: 10px auto;
}
.portfolio-content a{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-content .portfolio-img{
  width: 80%; 
  max-width: 350px;
  margin: 20px;
  box-shadow: 5px 5px 8px black;
  opacity: 0.7;
  border-radius: 2%;
}

.portfolio-content .portfolio img:hover{
  opacity: 1.0;
}

.portfolio-footer{
  background-color: #585858;
}

.portfolio-footer a{
  color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

/* ==========================================================================
   Tablet Styles
   ========================================================================== */

/*************Tablet Styles: Global Styles**************/

h1{
  font-size: 1.5em;
  margin: 0;
}

h2{
  font-size: 1.25em;
  margin: 10px auto;
  width: 100%;
}

nav li{
  font-size: 1.125em;
}

p, .skills ul li{
  font-size: 1.125em;
  line-height: 1.5em;
}

/*************Tablet Styles: Header**************/

header .content-wrapper{
  display: flex;
  justify-content: space-between;
}

header h1{
  font-size: 1.125em;
  padding-bottom: 0;
}

header nav ul{
  margin: 0;
}

header nav ul li{
  margin-left: 20px;
}
/*************Tablet Styles: Footer**************/

footer .content-wrapper{
  align-items: center;
  justify-content: space-between;
}
footer .copyright{
  width: 50%;
  text-align: right;
}

/*************Tablet Styles: HERO SECTION**************/

.hero{
  min-height: 450px;
}

.hero h1{
  font-size: 2em;
  width: 80%;
  padding-top: 50px;
}

.hero .content-wrapper{
  margin-left: 60px;
}

/*************Tablet Styles: ABOUT SECTION**************/

#about{
  margin: 40px auto;
}

#about .content-wrapper{
  margin-left: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#about article{
  width: 40%;
}
#about .about-content h1, #about .skills h1{
  text-align: left;
}

#about .skills ul {
  text-align: left;
}

#about h1{
  width: 100%;
  text-align: center;
}

#about .call-to-action{
  text-align: left;
  font-size: 1.25em;
}

/*************Tablet Styles: CONTACT SECTION**************/
#contact{
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact .content-wrapper{
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact h1{
  text-align: left;
}
#contact .contact-content{
  width: 50%;
}

/****************Tablet Styles: PORTFOLIO PAGE*************************/

.portfolio-intro{
  padding: 40px 0;
}

.portfolio-intro .content-wrapper{
  margin-left: 60px;
}

.portfolio-content{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.portfolio-content .content-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-left: 60px;

}

.portfolio-content h1{
  text-align: left;
}

.portfolio-content h2{
  text-align: left;
}


.portfolio-content .portfolio-items{
  max-width: 50%;
}

.portfolio-content .portfolio-img{
  max-width: 500px;
}

.portfolio-content .port-link {
  margin-top: 40px;
}


}
@media only screen and (min-width: 1200px){

/* ==========================================================================
   Desktop Styles
   ========================================================================== */

/*************Desktop Styles: Global Styles**************/
h1{
  font-size: 1.75em;
  margin: 0;
}

h2{
  font-size: 1.5em;
  margin: 10px auto 0 auto;
}

nav li{
  font-size: 1.5em;
}

p, .skills ul li{
  font-size: 1.25em;
  line-height: 1.75em;
}

/*************Desktop Styles: HEADER AND FOOTER**************/
/*************Desktop Styles: Header**************/
header h1 {
  font-size: 1.5em;
}
/*************Desktop Styles: Footer**************/

footer .icon {
  padding: 0 0 0 10px;
}
/*************Desktop Styles: HERO SECTION**************/

.hero{
  min-height: 550px;
}

.hero .content-wrapper{
  margin-left: 80px;
}

.hero h1{
  padding-top: 80px;
  width: 60%;
  font-size: 2.5em;
}

/*************Desktop Styles: ABOUT SECTION**************/

#about .content-wrapper{
  margin-left: 80px;
}
#about .call-to-action{
  font-size: 1.25em;
  margin-right: 40px;
}

/*************Desktop Styles: CONTACT SECTION**************/

#contact .content-wrapper{
  margin-left: 80px;
}

/****************Desktop Styles: PORTFOLIO PAGE*************************/

.portfolio-intro .content-wrapper{
  margin-left: 80px;
}

.portfolio-content .content-wrapper{
  margin-left: 80px;
}

.portfolio-content .portfolio-items{
  max-width: 33%;
}

}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

